/docs
/node_modules
/build
/dist
/.env
/.env.local
/.env.development
/.env.production
/.env.test
/coverage
.DS_Store
*.log   
*.lock
*.bak
*.tmp
*.swp
.idea
.vscode
*.sublime-project
*.sublime-workspace
*.iml
*.sln
*.suo
/video
sample.html